@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("Montserrat/Montserrat-SemiBold.ttf");
}



:root {
    --base: 1rem;
    --factor: 1.3;
    --space-5: calc(var(--factor) * var(--space-4));
    --space-4: calc(var(--factor) * var(--space-3));
    --space-3: calc(var(--factor) * var(--space-2));
    --space-2: calc(var(--factor) * var(--space-1));
    --space-1: calc(var(--factor) * var(--space-0));
    --space-0: var(--base);
    --space--1: calc(var(--space-0) / var(--factor));
    --space--2: calc(var(--space--1) / var(--factor));
    --space--3: calc(var(--space--2) / var(--factor));
}



/* General styles */

* {
    box-sizing: border-box;
}

h2 {
    margin: 0;
    font-size: var(--space-1);
}

h3 {
    margin: 0;
    font-size: var(--space-0);
}

button {
    font-size: var(--space-0);
    font-family: inherit;
    border: 0;
    color: inherit;
    background-color: transparent;
}

button::before {
    margin: 0 !important;
}

input {
    font-family: inherit;
    font-size: var(--space-0);
    border: 0;
    background-color: transparent;
}

input::placeholder {
    color: rgba(0,0,0,0.5);
    opacity: 1;
}

input[type="radio"] {
    margin: 0;
}


.round_corners {
    border-radius: var(--space--2);
}

button, .clickable {
    transition: background-color 0.2s;
}

button:active, .clickable:active {
    background-color: rgba(0,0,0,0.1);
    transition: background-color 0s;
}


body {
    margin: 0;
    padding: 0 var(--space-0) var(--space-0) var(--space-0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--space-5) auto;
    grid-gap: var(--space-0);
    font-family: "Montserrat", sans-serif;
    font-size: var(--space-0);
    color: hsl(185, 25%, 20%);
    line-height: var(--factor);
    background-color: hsl(0, 0%, 95%);
}



/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--space-5);
    line-height: var(--space-5);
    text-align: center;
    z-index: 10;
    background-color: #FFFFFF;
}

header > button {
    position: fixed;
    top: calc((var(--space-5) - var(--space-3)) / 2);
    height: var(--space-3);
    width: var(--space-3);
    font-size: var(--space-1);
}

#menu_button {
    left: calc((var(--space-5) - var(--space-3)) / 2);
}

#favorite_button {
    right: calc((var(--space-5) - var(--space-3)) / 2);
}

#current_location_label {
    font-size: var(--space-1);
    font-weight: 600;
}



/* Weather */

#weather_container {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-0);
    height: min-content;
    justify-items: center;
}



/* Current weather container */

#current_weather_container, #hourly_forecast_container, #daily_forecast_container {
    width: 100%;
}

#current_weather_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: var(--space-0);
    text-align: center;
    color: #FFFFFF;
    background-color: hsl(185, 25%, 35%);
    max-width: 600px;
    padding: var(--space-0);
    padding-bottom: var(--space-2);
}

#current_weather_container > h2 {
    grid-column: 1 / 2;
    text-align: left;
}

#current_weather_primary_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: var(--space-0);
    align-items: center;
    width: max-content;
    margin: auto;
}

#current_temperature_label {
    font-size: var(--space-5);
    line-height: var(--space-5);
}

#current_weather_icon {
    font-size: var(--space-4);
}

#current_weather_label {
    grid-column: 1 / 3;
}

#current_weather_secondary_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    grid-gap: var(--space--2) var(--space-0);
    width: max-content;
    margin: auto;
}

#current_weather_secondary_grid > div {
    display: grid;
    grid-template-columns: var(--space-2) auto;
    align-items: center;
}

#current_weather_secondary_grid span {
    display: inline-block;
}

#current_wind_direction_label {
    font-size: var(--space-1);
}



/* Forecast containers */

#hourly_forecast_container, #hourly_precipitation_container, #daily_forecast_container {
    padding: var(--space-0);
    background-color: #FFFFFF;
    height: min-content;
}

#hourly_forecast_chart, #hourly_precipitation_container, #hourly_precipitation_chart {
    margin-top: var(--space--1);
    width: 100% !important;
    height: 100% !important;
}

#daily_forecast_container > .daily_forecast_row {
    display: grid;
    grid-template-columns: 5ch auto 1fr;
    grid-gap: 0 var(--space-0);
    margin-top: var(--space--1);
}

#daily_forecast_container .weather_icon {
    text-align: center;
    font-size: var(--space-1);
    line-height: 1;
}

.temperature_span_container {
    position: relative;
    height: var(--space-1);
}

.temperature_span_bar {
    position: absolute;
    width: 6ch;
    height: 100%;
    left: 50%;
    line-height: var(--space-1);
    transition: width 1s ease-in-out, left 1s ease-in-out;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.temperature_span_bar > div {
    background-color: hsl(185, 25%, 35%);
    border-radius: calc(var(--space--2) / 2);
    height: var(--space--2);
}

.temperature_span_bar > span {
    display: inline-block;
    width: 3ch;
    text-align: center;
}

#daily_forecast_container .additional_info_container {
    overflow: hidden;
    padding-top: var(--space--1);
    grid-column: 1 / 4;
    font-size: var(--space--1);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--space-0);
    justify-items: center;
}

#daily_forecast_container .additional_info_container.hidden {
    padding-top: 0;
    height: 0;
}



/* Menu */

#overlay.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s, transform 0s 0.3s;
}

#menu.hidden {
    transform: translateX(-100%);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transform: none;
    transition: opacity 0.3s, transform 0s;
    z-index: 10;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: min(300px, 85%);
    padding: 0 var(--space-0);
    background-color: #FFFFFF;
    z-index: 20;
    transition: transform 0.3s;
}

#menu > h2, h3 {
    margin-top: var(--space-0);
}

#menu > .separator {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: var(--space--2);
}

#location_input_container {
    margin-top: var(--space-0);
    display: grid;
    grid-template-rows: var(--space-3);
    grid-template-columns: calc(100% - var(--space-3)) var(--space-3);
    background-color: rgba(0,0,0,0.1);
}

#location_input_container > button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#location_input_container > button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

#location_input {
    padding: 0 var(--space--1);
}

#menu > h3 {
    margin-bottom: var(--space--3);
}

#favorite_locations_container {
    display: grid;
    grid-template-columns: auto var(--space-3);
    grid-auto-rows: var(--space-3);
    grid-gap: 0 var(--space--2);
}

#favorite_locations_container > i {
    grid-column: 1 / 3;
    opacity: 0.8;
    padding-left: var(--space--1);
    line-height: var(--space-3);
}

#favorite_locations_container > span {
    line-height: var(--space-3);
    padding: 0 var(--space--1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#language_inputs_container, #units_inputs_container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: var(--space-1);
    grid-gap: 0 var(--space--2);
    align-items: center;
    justify-content: center;
    padding-left: var(--space--1);
}

#data_delete_button {
    height: var(--space-3);
}



/* Media queries */

@media only screen and (min-width: 600px) {
    #current_weather_container {
        grid-template-columns: 1fr 1fr;
    }

    #current_weather_container > h2 {
        grid-column: 1 / 3;
    }
}

@media only screen and (min-width: 900px) {
    body {
        grid-template-columns: 300px 1fr;
    }

    #current_location_label {
        text-align: left;
        margin-left: var(--space-0);
    }

    #menu_button {
        display: none;
    }

    #weather_container {
        grid-column: 2 / 3;

    }

    #menu {
        position: sticky;
        top: calc(var(--space-5) + var(--space-0));
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        width: 100%;
        display: block;
        height: min-content;
        padding-bottom: var(--space-0);
        border-radius: var(--space--2);
    }

    #menu.hidden {
        transform: none;
        transition: none;
    }

    #overlay {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    #weather_container {
        grid-template-columns: 1fr 1fr;
    }

    #current_weather_container {
        grid-column: 1 / 3;
    }

    #hourly_forecast_container, #hourly_precipitation_container, #daily_forecast_container {
        margin: 0;
        max-width: initial;
    }
}
